@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    /* Background colors for light mode */
    --background: 233 90% 96%;
    --foreground: 235, 90%, 8%;

    --card: 0 0% 98%; /* Slightly off-white */
    --card-foreground: var(--foreground);

    --popover: 0 0% 97%; /* Light grayish-white */
    --popover-foreground: var(--foreground);

    --muted: 0 0% 96%; /* Soft muted white */
    --muted-foreground: 0 0% 30%; /* Dark gray text */

    --border: 0 0% 85%; /* Light gray */
    --input: 0 0% 90%; /* Soft gray */
    --ring: 0 0% 50%; /* Medium gray */

    /* Text color */
    --text: 235 90% 8%;

    /* Primary colors */
    --primary: 231 91% 54%; /* Soft blue */
    --primary-foreground: 0 0% 100%; /* White text */

    /* Secondary colors */
    --secondary: 298 91% 50%; /* Soft purple */
    --secondary-foreground: 0 0% 100%; /* White text */

    /* Accent colors */
    /* background-color: hsl(319, 91%, 50%); */
    --accent: 319 91% 50%;
    --accent-foreground: 0 0% 100%;

    /* Destructive (Error) colors */
    --destructive: 0 100% 80%; /* Pure Red */
    --destructive-foreground: 0 0% 100%; /* White text for contrast */

    /* Border radius */
    --radius: 0.5rem;
  }

  .dark {
    /* Background colors for dark mode */
    --background: 233, 80%, 6%;
    --foreground: 35 90% 92%; /* Near-black text */

    --card: 0 0% 7%; /* Dark gray */
    --card-foreground: var(--foreground);

    --popover: 0 0% 10%; /* Slightly lighter black */
    --popover-foreground: var(--foreground);

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;

    --border: 0 0% 30%; /* Dark gray */
    --input: 0 0% 25%; /* Medium dark gray */
    --ring: 0 0% 40%; /* Soft gray */

    /* Text color */
    --text: 235 90% 8%;

    /* Primary colors (Dark Mode) */
    --primary: 231 91% 54%;
    --primary-foreground: 0 0% 100%; /* White text */

    /* Secondary colors (Dark Mode) */
    --secondary: 298 91% 40%; /* Deep purple */
    --secondary-foreground: 0 0% 100%; /* White text */

    /* Accent colors (Dark Mode) */
    --accent: 319 91% 40%;
    --accent-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }

  .dark body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* color: hsl(236, 93%, 94%); */
}
